/*
 * @Date: 2024-09-20 17:22:26
 * @LastEditors: 曾逸超
 * @LastEditTime: 2024-09-23 14:22:06
 * @FilePath: /react-learn/huanlegou/src/containers/Guide/style.scss
 */

 .guide-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #FFF;
  opacity: 0;
  transition: all 3s;

  .guide-icon {
    display: block;
    margin: 0 auto;
    padding: .93rem 0 .29rem 0;
    width: .86rem;
    height: .70rem;
  }

  .guide-title {
    font-size: .2rem;
    line-height: .23rem;
    letter-spacing: 0px;
    text-align: center;
    color: #242424;
  }

  .slogan-icon {
    display: block;
    margin: 0 auto;
    padding-top: 1.73rem;
    width: 2.02rem;
    height: 1.18rem;
  }

  .iconfont {
    position: absolute;
    left: 50%;
    bottom: .73rem;
    text-align: center;
    font-size: .2rem;
    color: #73D13D;
  }
}