.category-page {
  height: auto;

  &-header {
    padding: 0 .32rem 0 .48rem;
    background: #FFF;
    height: .44rem;
    width: 100%;
    box-sizing: border-box;
    font-size: .18rem;
    line-height: .21rem;
    color: #242424;
  }

  .search {
    position: relative;
    margin: .06rem 0;
    padding: 0 .1rem;
    font-size: .14rem;
    &-icon {
      position: absolute;
      left: .2rem;
      color: #75818F;
    }
    &-input {
      padding: 0 .2rem 0 .34rem;
      height: .32rem;
      width: 100%;
      border-radius: .16rem;
      line-height: .32rem;
      background: #F5F9FA;
      box-sizing: border-box;
      outline: none;
      border: none;
    }
  }

  &-content {
    display: flex;
    height: calc(100vh - .44rem * 2 - .5rem);
    overflow: hidden;
    .category {
      width: .96rem;
      background-color: #F5F9FA;
      overflow-y: scroll;
      &-item {
        height: .52rem;
        font-size: .13rem;
        line-height: .19rem;
        background-color: #F5F9FA;
        color: #242424;

        &.is-active {
          background-color: #FFF;
        }
      }

      &-content {
        padding: .1rem;
        flex: 1;
        overflow: hidden;

        .tags {
          overflow: scroll;
          white-space: nowrap;
          padding-bottom: .17rem;

          .tag-item {
            width: .62rem;
            height: .32rem;
            border-radius: .05rem;
            font-size: .13rem;
            background-color: #F5F9FA;
            flex-shrink: 0;
            color: #242424;

            &.is-active {
              background-color: #D9F7BE;
              color: #52C41A;
            }

            + .tag-item {
              margin-left: .1rem;
            }
          }
        }

        .list {
          flex: 1;
          overflow-x: scroll;

          &-total {
            margin-bottom: .09rem;
            font-size: .11rem;
            line-height: .16rem;
            color: #242424;
          }

          &-item {
            position: relative;
            padding: .1rem;

            img {
              width: .78rem;
              height: .76rem;
            }

            &-content {
              margin-left: .08rem;
              overflow: hidden;
            }

            &-title {
              font-size: .14rem;
              line-height: .21rem;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #242424;
            }

            &-sales {
              margin-top: .11rem;
              font-size: .11rem;
              line-height: .16rem;
              color: #B1B1B1;
            }

            &-price {
              position: absolute;
              bottom: .06rem;
              font-size: .14rem;
              line-height: .24rem;
              color: #CF1322;

              .yen {
                margin-right: .02rem;
                font-size: .12rem;
              }
            }

            &-btn {
              position: absolute;
              right: .1rem;
              bottom: .1rem;
              width: .4rem;
              height: .24rem;
              border-radius: .04rem;
              background-color: #73D13D;
              font-size: .12rem;
              color: #FFF;
            }
          }
        }
      }
    }
  }
}