.account-page {
  align-items: center;
  justify-content: center;
  .toggle-tabs {
    padding-top: .5rem;
    display: flex;
    flex-direction: row;
    font-size: .18rem;

    a {
      text-decoration: none;
      color: #242424;

      &.is-active {
        color: #73D13D;
      }

      + a {
        margin-left: .42rem;
      }
    }
  }

  .form {
    margin-top: .77rem;
    width: 100%;

    .form-item {
      display: flex;
      padding: .16rem .3rem;
      line-height: .24rem;
      font-size: .16rem;

      &-title {
        margin-right: .42rem;
        width: .64rem;
        text-align-last: justify;
      }

      &-content {
        flex: 1;
        border: none;
        outline: none;
        color: #000;
        
        input::inputplaceholder {
          color: #D9D9D9;
        }
      }
    }
  }

  .submit-btn {
    margin: .6rem .3rem 0;
    padding: .12rem 1.4rem .14rem;
    border-radius: .25rem;
    background: #73D13D;
    box-shadow: 0 .06rem .06rem 0 #D9F7BE;
    font-size: .16rem;
    color: #FFF;
  }

  .notice-text {
    margin: .94rem .46rem 0;
    font-size: .16rem;
    line-height: .24rem;
    color: #CF1322;
  }
}